:root {
    /* Design Widths */
    --mobile-width: 375px;
    --desktop-width: 1440px;
  
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
  
    /* Typography */
    --font-size-paragraph: 15px;
  
    /* Font */
    --font-family: 'Outfit', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Center Everything in the Page */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure it covers full screen */
    background-color: var(--slate-300);
    font-family: var(--font-family);
    padding: 10px; /* Prevents content from touching edges on small screens */
}

/* Center the QR Code Component */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

/* QR Code Card */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    max-width: 350px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 8px; 
}

/* QR Code Image */
#gr-code-image {
    width: 100%;
    border-radius: 15px;
    height: auto;
    max-width: 320px; 
}

/* Content Styling */
.content-caption {
    text-align: center;
    padding: 10px 15px;
}

.main-content-h {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    line-height: 1.3em;
    letter-spacing: 0.2px;
    color: var(--slate-900);
    padding-bottom: 10px;
}

.main-content-p {
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-regular);
    color: var(--slate-500);
}

/* Footer Centering */
footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    text-align: center;
    margin-top: 20px;
}

/* Attribution Text */
.attribution { 
    font-size: 11px; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-weight: var(--font-weight-bold);
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .container {
        max-width: 400px;
        padding: 30px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 420px;
    }
}